/* ===================================
    Google font
====================================== */

@import url('https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');


/* ===================================
    Reset
====================================== */

body{ font-family: 'Roboto', sans-serif; -webkit-font-smoothing: antialiased;  font-smoothing: antialiased; font-size:14px; color:#6f6f6f; font-weight: 400;line-height: 24px;}
body, html { height: 100%; -moz-osx-font-smoothing: grayscale;}
a, a:active, a:focus { color: #6f6f6f; text-decoration: none; }
a:hover, a:active{color: #ff214f; text-decoration: none;}
a:focus, a:active, button:focus, button:active,.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {outline: none;}
img {max-width:100%; height:auto; }
video { background-size: cover; display: table-cell; vertical-align: middle; width: 100%; }
input, textarea, select{ border: 1px solid #d1d1d1; font-size: 14px;  padding: 8px 15px; width: 100%; margin: 0 0 20px 0; max-width: 100%; resize: none;}
input[type="submit"] { width: auto}
input[type="button"], input[type="text"], input[type="email"], input[type="search"], input[type="password"], textarea, input[type="submit"] { -webkit-appearance: none; outline: none;}
input:focus, textarea:focus{ border-color: #585858; outline: none; }
input[type="button"]:focus{ outline: none; }
select::-ms-expand{ display:none;}
iframe { border: 0;}
p {margin: 0 0 25px}
b, strong { font-weight: 600;}
.last-paragraph-no-margin p:last-of-type {margin-bottom:0}
.alt-font strong {font-weight: 700 }
ul, ol, dl {list-style-position: outside; margin-bottom: 25px}
*{transition-timing-function: ease-in-out; -ms-transition-timing-function: ease-in-out; -moz-transition-timing-function: ease-in-out; -webkit-transition-timing-function: ease-in-out; -o-transition-timing-function: ease-in-out; transition-duration: .2s; -ms-transition-duration: .2s; -moz-transition-duration: .2s; -webkit-transition-duration: .2s; -o-transition-duration: .2s;}
*:hover{transition-timing-function: ease-in-out; -ms-transition-timing-function: ease-in-out; -moz-transition-timing-function: ease-in-out; -webkit-transition-timing-function: ease-in-out; -o-transition-timing-function: ease-in-out; transition-duration: .2s; -ms-transition-duration: .2s; -moz-transition-duration: .2s; -webkit-transition-duration: .2s; -o-transition-duration: .2s; }
::selection { color: #000; background:#dbdbdb; }
::-moz-selection { color:#000; background:#dbdbdb; }
::-webkit-input-placeholder { color: #6f6f6f; text-overflow: ellipsis;}
::-moz-placeholder { color: #6f6f6f; text-overflow: ellipsis; opacity:1;} 
:-ms-input-placeholder { color: #6f6f6f; text-overflow: ellipsis; opacity:1;}
/* font family */
.alt-font {font-family: 'Montserrat', sans-serif; font-weight: 500}
.main-font {font-family: 'Roboto', sans-serif;}
/* text color */
.text-white {color:#FFF}
.text-black {color:#000}
.text-extra-dark-gray {color:#232323}
.text-dark-gray {color:#626262}
.text-extra-medium-gray {color:#757575}
.text-medium-gray {color:#939393}
.text-extra-light-gray {color:#b7b7b7}
.text-light-gray {color:#d6d5d5}
.text-very-light-gray {color:#ededed}
.text-deep-pink {color:#ff214f}
/*==================================
utilities
==================================*/
.pt-rs-150px{
	padding-top: 150px;
	padding-bottom: 150px;

}
.gray-bg {
    background-color: #f7f7f9;
}
.pt-rs-80px {
    padding: 80px 0;
}
 #about,#recentworks {
  background-color: #fff;
}
/*=====================================
back to top
===============================*/
   #back-to-top .top {
    z-index: 999;
    position: fixed;
    margin: 0px;
    color: #fff;
    transition: all .5s ease-in-out;
    position: fixed;
    bottom: 105px;
    right: 15px;
    border-radius: 3px;
    z-index: 999;
    background: transparent;
    font-size: 14px;
    /* background: #84ba3f; */
    background: #0babc7;
    width: 40px;
    height: 40px;
    text-align: center;
}
#back-to-top i {
    padding-top: 2px;
    font-size: 20px;
}
#back-to-top span {
    display: block;
    line-height: 8px;
    font-size: 11px;
}
.top-btn-remove{
   display: none;
}
.top-btn-add{
   display: block ;
}

/* ===================================
    navbar
====================================== */
.customise-nav, .customise-nav .active {
	background: transparent;
}
.navbar-brand img{ 
	width: 200px;

}
.customise-nav-add .navbar{
	background: white;
	-webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}
.customise-nav .navbar-light .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}
.customise-nav-add .navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
}
.customise-nav-add .navbar-light .navbar-nav .nav-link:hover {
    color: white;
}
.customise-nav-add .active {
    background-color: #0babc7;
    color: white !important;
    
}
.snip1429 {
  /*font-family: 'Roboto', Arial, sans-serif;*/
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}
.snip1429 * {
  box-sizing: border-box;
}
.snip1429 li {
  display: inline-block;
  list-style: outside none none;
  margin: 10px 4px;
  overflow: hidden;
  position: relative;
  border-radius: 3px;
}
.snip1429 li:before,
.snip1429 li:after {
  display: block;
}
.snip1429 li:before {
  bottom: 0%;
}
.snip1429 li:after {
  bottom: 75%;
}
.snip1429 a {
  backface-visibility: hidden;
  color: #e6e6e6;
  display: block;
  padding: 0.5em 1em;
  position: relative;
  text-align: center;
  text-decoration: none;
}
.snip1429 a:before {
  bottom: 25%;
}
.snip1429 a:after {
  bottom: 50%;
}
.snip1429 a:hover {
  color: #ffffff;
}
.snip1429 li:before,
.snip1429 li:after,
.snip1429 a:before,
.snip1429 a:after {
  background-color: #0babc7;
  position: absolute;
  height: 25%;
  width: 100%;
  left: 0;
  content: '';
  z-index: -1;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  opacity: 0;
  -webkit-transition: all 0.35s steps(4);
  transition: all 0.35s steps(4);
}
.snip1429 li:hover:before,
.snip1429 li.current:before {
  -webkit-animation: snip1429 0.7s 0s steps(4);
  animation: snip1429 0.7s 0s steps(4);
}
.snip1429 li:hover:after,
.snip1429 li.current:after {
  -webkit-animation: snip1429 0.7s 0.15s steps(4);
  animation: snip1429 0.7s 0.15s steps(4);
}
.snip1429 li:hover a:before,
.snip1429 li.current a:before {
  -webkit-animation: snip1429 0.7s 0.05s steps(4);
  animation: snip1429 0.7s 0.05s steps(4);
}
.snip1429 li:hover a:after,
.snip1429 li.current a:after {
  -webkit-animation: snip1429 0.7s 0.1s steps(4);
  animation: snip1429 0.7s 0.1s steps(4);
}
.snip1429 li:hover:before,
.snip1429 li.current:before,
.snip1429 li:hover:after,
.snip1429 li.current:after,
.snip1429 li:hover a:before,
.snip1429 li.current a:before,
.snip1429 li:hover a:after,
.snip1429 li.current a:after {
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes snip1429 {
  33% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
  }
  70% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
}
button.navbar-toggler {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* ===================================
   banner
====================================== */


#hero {
  height: 800px;
  overflow: hidden;
  position: relative;
}



.layer {
  background-position: bottom center;
  background-size: auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  position: fixed;
  z-index: -1;
}

#hero-mobile {
  display: none;
  background: url("../img/mob-banner-text.png") no-repeat center bottom/cover;
  /*background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/full_illustration.png") no-repeat center bottom/cover;*/
  height: 320px;
}

.first-section {
  padding: 50px 0 20px 0;
}

.text-header {
  font-size: 50px;
  text-align: center;
}



#hero, .layer {
  min-height: 800px;
}

/*.layer-bg {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_bg.jpg");
}*/
.layer-bg {
  background-image: url("../img/layer-bg.png");
}
.layer-bird {
  background-image: url("../img/layer-bird.png");
}

/*.layer-1 {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_03.png");
  background-position: left bottom;
}*/
.layer-1 {
  background-image: url("../img/layer-one.png");
  background-position: left bottom;
}
/*.layer-text {
  background-image: url("../img/layer-text.png");
  background-position: center;
}*/
.layer-text-one {
  background-image: url("../img/layer-text-one.png");

}
.layer-text-two {
  background-image: url("../img/layer-text-two.png");
 
}

/*.layer-2 {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_02.png");
}*/
.layer-2 {
  background-image: url("../img/layer-two.png");
}

/*.layer-3 {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_man.png");
  background-position: right bottom;
}*/
.layer-3 {
  background-image: url("../img/layer-man.png");
  background-position: right bottom;
}

.layer-4 {
  background-image: url("../img/layer-four.png");
}
/*.layer-4 {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_01.png");
}*/

.layer-overlay {
  background-image: url("../img/layer_overlay.png");
}
/*==================================
2.about
==================================*/
.bg-about{
   
 	background-image: url("../img/about.png");
 	    background-size: cover;
    background-repeat: no-repeat;
  
}
a.cv-button:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
a.cv-button {
    background: #6f6f6f;
    padding: 10px;
    border-radius: 8px;
    color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

/*====================================
3.service
====================================*/
.portfolio-bg{
  background-image: url("../img/parallax-bg18.jpg");
      background-size: cover;
    background-repeat: no-repeat;

}
.serviceBox{
    padding-bottom: 20px;
    text-align: center;
    position: relative;
}
.serviceBox:before{
    content: "";
    width: 100%;
    height: 2px;
    background: #1d1a3f;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scale(0);
    transition: all 0.5s ease 0s;
}
.serviceBox:hover:before{ transform: scale(1); }
.serviceBox .title{
    font-size: 22px;
    font-weight: 700;
    color: #1d1a3f;
    text-transform: uppercase;
    margin: 0 0 5px 0;
}
.serviceBox .service-icon{
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #1d1a3f;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    margin: 50px 0;
    position: relative;
}
.serviceBox .service-icon:before,
.serviceBox .service-icon:after{
    content: "";
    width: 3px;
    height: 40px;
    background: #1d1a3f;
    margin: 0 auto;
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
}
.serviceBox .service-icon:after{
    top: auto;
    bottom: -40px;
}
.serviceBox .service-icon span{
    display: block;
    font-size: 50px;
    color: #fff;
    line-height: 130px;
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    z-index: 999 ;
}
.serviceBox .service-icon span:before{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #fa5f69;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.5s ease 0s;
}
.serviceBox:hover .service-icon span:before{ transform: rotateY(180deg); }
.serviceBox .description{
    font-size: 15px;
    color: #505050;
    line-height: 27px;
    margin: 0;
    text-align: justify;
}
.serviceBox.blue .service-icon span:before{ background: #0babc7; }
.serviceBox.yellow .service-icon span:before{ background: #f5b43b; }
.serviceBox.green .service-icon span:before{ background: #2e9749; }
/*===============================
4.Recent Works
==============================*/

/*new plugin*/
.cube-container {
  max-width: 200px;
  text-align: center;
  margin: 0 auto 4.5em;
}
/* ---- Page Elements ---- */

.name {
  font-size: 1.65em;
  font-weight: 800;
  margin: 0 0 1.5em;
  line-height: 1;
}
.name span {
  font-weight: 300;
  margin-left: -7px;
}
/*.logo {
  width: 45px;
  margin-bottom: .4em;
  cursor: pointer;
}*/
.button {
  font-size: .8em;
  color: #fff;
  width: 90%;
  line-height: 1.15;
  font-weight: 700;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  padding: .95em 0;
  border-radius: .5em;
  background: rgb(5, 128, 150);;
  margin: auto;
}
/* ---- Photo Overlay ---- */

.photo-desc {
  font-size: .85em;
  color: #fff;
  padding: 1.1em 1em 0;
  background:#0babc7;
  /*background: #345d88;*/
}
/* ---- Float clearfix ---- */

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

.recentworks a:hover, a:active {
    color: #17dcff;
}
.recentworks a{
  color:#fbfbfb;

}
/* ================================= 
  Button Transitions
==================================== */

.button {
  transition: background .3s;
}
.button:hover {
  background:     background: rgb(5, 144, 169);
  /*background: rgba(74,137,202, 1);*/
}

/* ================================= 
  Photo 3D Transforms & Transitions
==================================== */

.cube-container {
  box-shadow: 0 18px 40px 5px rgba(0,0,0,.4);
  perspective: 800px;
}

.photo-cube {
transition: transform 2s ease-in-out; 
  width: 220px;
  height: 200px;
  transform-style: preserve-3d;
}

.photo-cube:hover {
transform: rotateY(-270deg);
}

.front,
.back,
.left,
.right {
width: 100%;
height: 100%;
display: block;
position: absolute;
}

.front {
transform: translate3d(0,0,110px);
}

.back {
transform: translateZ(-110px) rotateY(270deg);
  transform-origin: center left;
}

.left {
transform: rotateY(-270deg) translate3d(110px, 0, 0);
  transform-origin: top right;
}

.right {
transform: translateZ(-110px) rotateY(180deg);
 }
/*new plugin*/
/*.service-box-one{
            position: relative;
            overflow: hidden;
            margin-bottom:10px;
            perspective:1000px;
            -webkit-perspective:1000px;
        }
      .service-icon-one{
            width: 100%;
            height: 220px;
            padding: 20px;
            text-align: center;
            transition: all .5s ease;
        }

    .service-content{
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            opacity: 0;
            width: 100%;
            height: 220px;
            padding: 20px;
            text-align: center;
            transition: all .5s ease;
            background-color: #474747;
            backface-visibility:hidden;
            transform-style: preserve-3d;
            -webkit-transform: translateY(110px) rotateX(-90deg);
            -moz-transform: translateY(110px) rotateX(-90deg);
            -ms-transform: translateY(110px) rotateX(-90deg);
            -o-transform: translateY(110px) rotateX(-90deg);
            transform: translateY(110px) rotateX(-90deg);
        }
       .service-box-one .service-icon-one .front-content{
            position: relative;
            top:80px;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
        }

     .service-box-one .service-icon-one .front-content i {
            font-size: 28px;
            color: #fff;
            font-weight: normal;
        }

     .service-box-one .service-icon-one .front-content h3 {
            font-size: 15px;
            color: #fff;
            text-align: center;
            margin-bottom: 15px;
            text-transform: uppercase;
        }
        .service-box-one .service-content h3 {
            font-size: 15px;
            font-weight: 700;
            color: #fff;
            margin-bottom:10px;
            text-transform: uppercase;
        }
        .service-box-one .service-content p {
            font-size: 13px;
            color: #b1b1b1;
            margin:0;
        }
        .service-box-one .yellow{background-color: #ffc000;}
        .service-box-one .orange{background-color: #fc7f0c;}
        .service-box-one .red{background-color: #e84b3a;}
        .service-box-one .grey{background-color: #474747;}
        .service-box-one:hover .service-icon-one{
            opacity: 0;
            -webkit-transform: translateY(-110px) rotateX(90deg);
            -moz-transform: translateY(-110px) rotateX(90deg);
            -ms-transform: translateY(-110px) rotateX(90deg);
            -o-transform: translateY(-110px) rotateX(90deg);
            transform: translateY(-110px) rotateX(90deg);
        }
         .service-box-one:hover .service-content {
            opacity: 1;
            -webkit-transform: rotateX(0);
            -moz-transform: rotateX(0);
            -ms-transform: rotateX(0);
            -o-transform: rotateX(0);
            transform: rotateX(0);
        }*/
/*=================
5.contact
==========*/
#contact h5 {
    line-height: 30px;
}
.contact-box i {
    font-size: 40px;
}
.contact-box {
    padding: 25px 0px;
}
.social-links a{
     font-size: 30px;
    padding: 6px;
}
.fa-facebook-f {
  font-size: 26px !important;
}

.fa-facebook-f:hover {
 color: #4267b2;
  /*color: white;*/
}



.fa-google-plus-g:hover {
  color: #dd4b39;
}

.fa-linkedin-in:hover {
  
  color: #007bb5;
}
.fa-behance:hover{
  color: #0056ff;
}
.fa-codepen:hover {
    color: #303c42;
}
.fa-github:hover {
    color: #652f51;
}
/* ================================= 
  Media Queries
==================================== */
@media (min-width: 1400px) {
.layer-1 {
  background-image: url("../img/layer-one-large.png");
  background-position: left bottom;
}
}

@media (min-width: 1025px) {
  .cube-container:first-child {
    margin-left: 0;
  }
  .cube-container:last-child{
    float: right;
  }
  .content {
    max-width: 900px;
    margin: auto;
  }
}
@media only screen and (max-width:990px){
    .serviceBox{ margin-bottom: 30px; }
}


@media (min-width: 769px) {
  .cube-container {
    float: left;
    margin-left: 16.6%;
  }
}

@media only screen and (max-width: 768px) {


  #hero {
    display: none;
  }

  #hero-mobile {
    display: block;
  }
.pt-rs-150px{
	padding-top: 80px;
	padding-bottom: 80px;

}

}/*ended*/
@media (max-width: 30em) {
  .swap{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    /* optional */
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }

  .swap .fst-div {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }

  .swap .scd-div {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
}/*ended*/
