    /*
    Flaticon icon font: Flaticon
    Creation date: 16/08/2018 08:29
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-laptop:before { content: "\f100"; }
.flaticon-mobile-phone-tablet-and-laptop-screen:before { content: "\f101"; }
.flaticon-twitter-circular-button:before { content: "\f102"; }
.flaticon-google-plus-circular-button:before { content: "\f103"; }
.flaticon-behance-logo-in-circular-social-interface-button:before { content: "\f104"; }
.flaticon-light-bulb:before { content: "\f105"; }
.flaticon-tablet-and-laptop:before { content: "\f106"; }
.flaticon-suitcase-with-white-details:before { content: "\f107"; }
.flaticon-geography:before { content: "\f108"; }
.flaticon-cell-phone:before { content: "\f109"; }
.flaticon-facebook-logo-in-circular-button-outlined-social-symbol:before { content: "\f10a"; }
.flaticon-instagram:before { content: "\f10b"; }
.flaticon-social-linkedin-circular-button:before { content: "\f10c"; }
.flaticon-linkedin:before { content: "\f10d"; }
.flaticon-google-plus:before { content: "\f10e"; }
.flaticon-facebook-logo:before { content: "\f10f"; }
.flaticon-behance-logo:before { content: "\f110"; }
.flaticon-twitter-logo-silhouette:before { content: "\f111"; }
.flaticon-instagram-logo:before { content: "\f112"; }
    
    $font-Flaticon-laptop: "\f100";
    $font-Flaticon-mobile-phone-tablet-and-laptop-screen: "\f101";
    $font-Flaticon-twitter-circular-button: "\f102";
    $font-Flaticon-google-plus-circular-button: "\f103";
    $font-Flaticon-behance-logo-in-circular-social-interface-button: "\f104";
    $font-Flaticon-light-bulb: "\f105";
    $font-Flaticon-tablet-and-laptop: "\f106";
    $font-Flaticon-suitcase-with-white-details: "\f107";
    $font-Flaticon-geography: "\f108";
    $font-Flaticon-cell-phone: "\f109";
    $font-Flaticon-facebook-logo-in-circular-button-outlined-social-symbol: "\f10a";
    $font-Flaticon-instagram: "\f10b";
    $font-Flaticon-social-linkedin-circular-button: "\f10c";
    $font-Flaticon-linkedin: "\f10d";
    $font-Flaticon-google-plus: "\f10e";
    $font-Flaticon-facebook-logo: "\f10f";
    $font-Flaticon-behance-logo: "\f110";
    $font-Flaticon-twitter-logo-silhouette: "\f111";
    $font-Flaticon-instagram-logo: "\f112";